{
  "libraries": [{
    "file": "/opt/mesosphere/active/mesos-modules/lib/mesos/libexternal_container_logger.so",
    "modules": [{
      "name": "org_apache_mesos_ExternalContainerLogger",
      "parameters": [{"value": "/usr/bin/filebeat-container-logger.sh",
                      "key": "external_logger_script"}]
    }]
  }]
}
