{
  "libraries": [{
    "file": "/usr/lib/libexternal_container_logger-0.1.0.so",
    "modules": [{
      "name": "org_apache_mesos_ExternalContainerLogger",
      "parameters": [{"value": "/usr/bin/filebeat-container-logger.sh",
                      "key": "external_logger_cmd"}]
    }]
  }]
}
